
<router-outlet></router-outlet>

<!-- <hr>
<a href="register">Sign Up</a>

<div class="container body-content app-container">
  <div>
    <input type="text" [(ngModel)]="user1.name" class="form-control">
    <div>
      <button class="btn btn-primary"(click)="callMe()">Call me</button>
    </div>
    <div>
      {{user1.name}}
    </div>
  </div>
  </div>
 -->
 <!-- <h1>{{title}}</h1>
<app-heroes></app-heroes> -->

<!-- <app-register (childMessage)="setMessage($event)"></app-register>
{{messagefromchild}} -->

<p appRed>Hello This is Red</p>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body> -->
  <!-- <table>
    <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>phone</th>
  </tr>
  <tr>
    <td>{{user1.id}}</td>
    <td>{{user1.name}}</td>
    <td>{{user1.email}}</td>
    <td>{{user1.phone}}</td>
  </tr> -->
  <!-- <tr>
    <td>{{user2.id}}</td>
    <td>{{user2.name}}</td>
    <td>{{user2.email}}</td>
    <td>{{user2.phone}}</td>
  </tr>
  <tr>
    <td>{{user3.id}}</td>
    <td>{{user3.name}}</td>
    <td>{{user3.email}}</td>
    <td>{{user3.phone}}</td>
  </tr> -->
<!-- </table> -->
<!-- </body>
</html> -->
<!-- <div class="container body-content app-container">
  <div>
    <input type
  </div>
</div> -->